[Unit]
Description=Apache Tomcat Cluster Tomcat2 Web Application Container
After=network.target

[Service]
Type=forking

Environment=JRE_HOME=/usr
Environment=CATALINA_PID=/opt/cluster/tomcat2/temp/tomcat.pid
Environment=CATALINA_HOME=/opt/cluster/tomcat2
Environment=CATALINA_BASE=/opt/cluster/tomcat2
Environment='CATALINA_OPTS=-Xms512M -Xmx1024M -server -XX:+UseParallelGC'
Environment='JAVA_OPTS=-Djava.awt.headless=true -Djava.security.egd=file:/dev/./urandom'

ExecStart=/opt/cluster/tomcat2/bin/startup.sh
ExecStop=/opt/cluster/tomcat2/bin/shutdown.sh

User=tomcat
Group=tomcat
UMask=0007
RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
